body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E5E6E7;
	color: #666666;
 	text-align:center;
}

a { 
color		: 	#666666; 
text-decoration: none; 
text-decoration: underline;

} 
a:visited { 
text-decoration: none; 
	color		: 	#666666; 
}
a:link { 
text-decoration: none;
	color		: 	#666666;
}
a:hover { 

color: #5199D1;
}  

a.hover 
{ 
text-decoration	: 	none;
}
a.hover:hover 
{
  color: #000000
}

form {
  margin: 0px;
}
td {
  font-size: 12px;
 }

td
{
	border		: 	0px solid #5A9ED2;
}
div.zitat
{
	border		: 	1px solid #5A9ED2;
	background-color: #FFFFFF;
}
div.code
{
	border		: 	1px solid #5A9ED2;
	background-color: #FFFFFF;
}
div.kommentar
{
	border		: 	1px solid #5A9ED2;
	background-color: #FFFFFF;
}
td.erstellen_titel
{
	background	:	url('../images/topleiste.gif');
	text-align	:	center;
	font-weight	:	bold;
	color		: 	#FFFFFF;
	height		:	25px;
  border-left: 0px solid #FF6600;
  border-right: 0px solid #FF6600;
}

td.erstellen_links
{
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
	padding-bottom	: 	10px;
	padding-top	    : 	10px;
	padding-left	:	10px;
	padding-right	:	10px;
    background-image: url('../images/naviback.gif');
  vertical-align: top;
  text-align:right
  }
td.erstellen_rechts
{
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
	padding-bottom	: 	10px;
	padding-top	    : 	10px;
	padding-left	:	10px;
	padding-right	:	10px;
    background-image: url('../images/mitteback.gif');
  text-align: left;
  vertical-align: top
}
td.beitrag_titel
{
	padding-left	:	10px;
	padding-right	:	10px;
	background	:	url('../images/topleiste.gif');
	font-weight	:	bold;
	color		: 	#FFFFFF;
	height		:	25px;
  border-left: 0px solid #FF6600;
  border-right: 0px solid #FF6600;
  text-align: left;
}

td.beitrag_ersteller
{
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
	padding-bottom	: 	10px;
	padding-top	    : 	10px;
	padding-left	:	10px;
	padding-right	:	10px;
    background-image: url('../images/naviback.gif');
  text-align: left;
  vertical-align: top;
}
td.beitrag_text
{
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
	padding-bottom	: 	10px;
	padding-top	    : 	10px;
	padding-left	:	10px;
	padding-right	:	10px;
    background-image: url('../images/mitteback.gif');
  text-align: left;
  vertical-align: top
}
td.beitrag_loeschen
{
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
	padding-bottom	: 	10px;
	padding-top	    : 	10px;
	padding-left	:	10px;
	padding-right	:	10px;
    background-image: url('../images/mitteback.gif');
  text-align: center;
  vertical-align: top
}
#Copyrigt
{

	text-align	:	center;
	width		:	100%;
}