body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
}

.center {
    text-align: center;
}

.stations-video {
    width: 80wh;
    margin-right: 100px;
    /* height: 100vh; */
    /* display:inline-block; */
    /* position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
}