/* 
    Document   : 150
    Created on : 15.01.2013, 18:58:33
    Author     : markus
    Description:
        Purpose of the stylesheet follows.
*/

/**
 * temp stuff
 */
 
.Important
{
	border: 5px solid #FF0000;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

root { 
    display: block;
    
}
 body {
    
     margin: 0px;
     font-family:  arial, sans-serif;
     background-color: #f8af50;
  /* 
     background-repeat: repeat-x;
     background-image:url('../images/150Jahre/verlauf_v_1.png');

  */
 }
 
 h1
 {
     font-family: Comic Sans;
 }
 
.debug
{
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    /*
    background-color: #960000;
    border: 3px solid #0000DD;
    */
    width: 800px;
}

#header_bg
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#header
{
    margin-top: 30px;
    height: 268px;
    background-image:url('../images/150Jahre/header.png');
    background-color: #FFF;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
}
#content
{
    /*height: 500px;*/
    border-right: 5px solid #000;
    border-left: 5px solid #000;
}

#JubiTitle
{
     font-family: Comic Sans, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 30px;
}

#tableDates
{
    /*
    border: 2px solid #000;
    */
    font-size: 1.25em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#tableDates td
{
    vertical-align: top;
    padding-bottom: 20px;
    padding-left: 10px;
}

#footer
{
    height: 50px;
    margin-bottom: 30px;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;

}

.strong
{
    font-weight: bold;
}

.textCenter
{
    text-align: center;
}
