/*
 * Contains all specifc container layout definitions 
 * all #elements
 */
#header
{
    opacity: .9;
    padding-top: 10px;
    border-bottom-width: 1px;
    border-bottom-color: #001680; 
    border-bottom-style: solid;
    /* #001680; blau */
        /* #960000; rot */
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;    
    /*
    background-image: url("../images/layout/schild_bollschweil.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    */
}

#header_logo {
    margin-left: 40px;
    height: 100px;
} 

#bollschweil_logo{
    position: relative;
    left: 450px;
    top: -10px;
    visibility: hidden;
}
#header_title_container
{
    white-space: nowrap;
    position: relative;
    top: -80px;
    left: 250px;
}

#header_title
{
    text-shadow: 2px 2px 2px #666666;
    position:absolute; 
    left: 0px; 
    top: 0px; 
    color: #BE0227; 
    font-size: 55px; 
    font-family: 'Playball';
}

#cont_container
{
    min-height: 500px;
    margin-top: 150px;
    margin-bottom: 70px;
    margin-left: 255px;
/*
    background-color: #FFF;
    border-style: solid;
    border-width: 3px;
    border-color: #960000;
    border-radius: 10px;    
*/
    width: 75%;
    max-width: 1200px;
    padding: 12px;
}

#newsImage
{
    text-align: center;
    display: block;
    margin: 5px;
}

#KonzertPlakat
{
    text-align: center;
}

#fileNames{
    font-size: 0.8em;
    
}

#geburstage
{
	width: 200px;
	position: relative;
	float: right;
	padding: 10px;
}

#homeImage{
    display: block;
    border: solid 1px #001680;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

table#besetzung td
{
    width: 200px;
}

#footer
{
    border-top: #960000 solid 4px;
    font-size: 15px;
    /* clear: both;
    */
    padding: 10px;
    text-align: center;
    background-color: #FFF;
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

}


#menu1 {
    margin-left: 30px;

    border: #000 solid 2px;
    width: 200px;
    background: #FFF;
    margin-top: 30px;
    padding: 5px;    
    position:absolute; 
    top:150px; 
    left:30px; 
    font-weight:bold;
    font-size: 16px;
    text-align:left;
}

#showImg
{
	border: solid 1px black;
	background: white;
	visibility: hidden;
	z-index: 99;
}

#bigImg
{
	border: groove 3px #001680;
}




#dirigent{
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

#d1{
	position: absolute;
	left: 10px;
	top: 10px;
}
#d2{
	position: absolute;
	left: 100px;
	top: 10px;
}
#d3{
	position: absolute;
	left: 200px;
	top: 10px;
}
#d4{
	position: absolute;
	left: 300px;
	top: 10px;
}
