/*
 * Contains all specifc container layout definitions 
 * all #elements
 */
header
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-bottom-width: 1px;
    border-bottom-color: #001680; 
    border-bottom-style: solid;
    /* #001680; blau */
    /* #960000; rot */
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    height: 90px;
}

header * {
    margin-top: auto;
    margin-bottom: auto;
}

#events_box{
    float: right;
}
#header_logo {
    vertical-align: middle;
    margin-left: 40px;
    max-height: 90px;
    float: none;
}

#cont_container
{
    padding: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    margin-bottom: 70px;
    background-color: rgba(255,255,255,0.9);
    border-style: solid;
    border-width: 3px;
    border-color: #960000;
    border-radius: 10px;
    margin-top: 110px;
}

#newsImage
{
    text-align: center;
    display: block;
    margin: 5px;
}

#KonzertPlakat
{
    text-align: center;
}

#fileNames{
    font-size: 0.8em;
    
}

#geburstage
{
	width: 200px;
	position: relative;
	float: right;
	padding: 10px;
}

#homeImage{
    display: block;
    border: solid 1px #001680;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

table#besetzung td
{
    width: 200px;
}

#footer
{
    border-top: #960000 solid 4px;
    font-size: 15px;
    /* clear: both;
    */
    padding: 10px;
    text-align: center;
    background-color: #FFF;
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#showImg
{
	border: solid 1px black;
	background: white;
	visibility: hidden;
	z-index: 99;
}

#bigImg
{
	border: groove 3px #001680;
}

#teamplanbuch_calendar {
    width: 100%;
    min-height: 500px;
}