@charset "UTF-8";

#nav
{
    /* container */
    width: 100%;
    position: relative;
    z-index: 2;
    height: 50px;
    font-weight: bolder;
    font-size: 1.25em;
}


#nav a {
    text-decoration: none;
    transition-property: text-shadow;
    transition-duration: 0.3s;
}

#nav a:hover {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

#nav > a
{
    display: none;
}

#nav li
{
    position: relative;
    list-style-type: none;
}

.menu-separator-block { 
    display: none;
}

/* first level */
#nav > ul
{
    height: 2em;
}

#nav > ul > li
{
    width: 20%;
    height: 100%;
    float: left;
}
 
/* second level */
#nav li ul
{
    display: none;
    position: absolute;
    top: 100%;
    padding-right: 20px;
}

#nav li ul li {
    padding: 10px;
}

#nav li:hover ul
{
    display: block;
    background:  rgba(255,255,255,0.9) ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@media only screen and ( max-width: 40em ) /* 640 */
{
    #nav
    {
        margin-right: 0px;
    }

    #nav ul li {
        padding: 10px;
    }

    #nav > a::before {
        float: right;
        font-size: 1.5em;
        content: "\2630";
    }

    #nav:not( :target ) > a:first-of-type,
    #nav:target > a:last-of-type
    {
        display: block;
    }

    /* first level */
    #nav > ul
    {
        height: auto;
        display: none;
    }

    #nav:target > ul
    {
        display: block;
    }

    #nav > ul > li
    {
        width: 100%;
        background-color: rgba(255,255,255,0.9);
        box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    }

    /* second level */
    #nav li ul
    {
        position: static;
    }
}